<main class="p-5">

    <div>
        <button class="">TEXT</button>
        <button class="btn">TEXT</button>
        <button class="btn-primary">TEXT</button>
        <button class="btn btn-primary">TEXT</button>
        <div class="box">
            <button class="btn btn-warning btn-outline-danger testclass">TEXT</button>
        </div>
    </div>
</main>