<main class="p-1">
    <div class="row">
        {{> title big=true data=pages}}

        <i>({{about}})</i>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/summary" target="_blank" class="btn btn-primary text-capitalize">Summary</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/skills" target="_blank" class="btn btn-primary text-capitalize">skills</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/education" target="_blank" class="btn btn-primary text-capitalize">education</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/work" target="_blank" class="btn btn-primary text-capitalize">work</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/person" target="_blank" class="btn btn-primary text-capitalize">person</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/bio" target="_blank" class="btn btn-primary text-capitalize">bio</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/program" target="_blank" class="btn btn-primary text-capitalize">program</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/web" target="_blank" class="btn btn-primary text-capitalize">web</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/js" target="_blank" class="btn btn-primary text-capitalize">js</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/car" target="_blank" class="btn btn-primary text-capitalize">car</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/mac" target="_blank" class="btn btn-primary text-capitalize">mac</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/facebook" target="_blank" class="btn btn-primary text-capitalize">facebook</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/bootstrapOld" target="_blank" class="btn btn-primary text-capitalize">bootstrapOld</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/task21" target="_blank" class="btn btn-primary text-capitalize">task21</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/task22" target="_blank" class="btn btn-primary text-capitalize">task22</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/task31" target="_blank" class="btn btn-primary text-capitalize">task31</a>
            </div>
        </div>
        <div class="col-1">
        </div>

        <hr style="color: red;" class="my-5">

        {{!-- SHOP PROJECT --}}


        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/shophome" target="_blank" class="btn btn-success text-capitalize">Shophome</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/shopproduct" target="_blank" class="btn btn-success text-capitalize">shopproduct</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/shopnews" target="_blank" class="btn btn-success text-capitalize">shopnews</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/shoporder" target="_blank" class="btn btn-success text-capitalize">shoporder</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/shopcart" target="_blank" class="btn btn-success text-capitalize">shopcart</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/shopprofile" target="_blank" class="btn btn-success text-capitalize">shopprofile</a>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-2">
            <div class="card p-0 my-3">
                <a href="/shopreview" target="_blank" class="btn btn-success text-capitalize">shopreview</a>
            </div>
            <div class="card p-0 my-3">
                <a href="/shopcatalog" target="_blank" class="btn btn-success text-capitalize">shopcatalog</a>
            </div>
        </div>

        <div class="col-1">
        </div>














    </div>
</main>