<main>
    <div class="row">
        <div class="col-12 ms-3">
            {{> header_res}}

            <div class="row">
                {{#with main}}
                <div class="col-6">
                    <div class="card" style="background:rgb(225, 235, 225);">
                        <div class="card-header">
                            {{> title big=true data='All skills'}}
                        </div>
                        <ul class="list-group" style="background:rgb(225, 235, 225);">
                            {{#each skills}}
                            <li class="list-group-item" style="background:rgb(225, 235, 225);">
                                {{name}}
                                {{#if point includeZero=true}} ({{point}}) {{/if}}
                                {{#if isTop}} <span style="background: yellow;"> (top!)</span> {{/if}}

                                {{#unless point includeZero=true}} (не вивчаємо) {{/unless}}

                                {{#unless point}}
                                {{#if point includeZero=true}}
                                (в процесі вивчення)
                                {{/if}}
                                {{/unless}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card" style="background:rgb(225, 235, 225);">
                        <div class="card-header">
                            {{> title big=false data='My hobbies'}}
                        </div>
                        <ol class="list-group" style="background:rgb(225, 235, 225);">
                            {{#each hobbies}}
                            <li class="list-group-item" style="background:rgb(225, 235, 225);">
                                {{name}}
                                {{#if isMain}} (favorite)
                                {{/if}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
                {{/with}}
            </div>

            {{> footer}}
        </div>
    </div>

</main>