<main>
    <div class="row ">
        <div class="col-12 ps-5">
            {{> header_res}}

            {{#with main}}
            <section class="my-5">
                {{> title big=true data=summary.title}}
                <div>
                    <p>
                        {{summary.text}}
                    </p>
                </div>
            </section>


            <section>
                {{> title big=false data=experience.title}}
                <div>
                    <p>
                        {{experience.text}}
                    </p>
                </div>

            </section>
            {{/with}}

            {{> footer}}
        </div>
    </div>

</main>