<hr style="color: red;" class="my-5">
<div class="row ms-5">

    {{#with mainfooter}}
    <div class="col-9">
        <p>
            Copyright dy: <a href={{link}} target="_blank">{{copyright}}</a>
        </p>

    </div>
    <div class="col-3">
        <p>
            <a href={{link}} target="_blank">{{email}}</a>
        </p>
    </div>
    {{/with}}
</div>