<div class="row">
    {{#with mainheader}}
    <div class="col-9">
        <h1 class="mt-3">{{firstname}} {{lastname}}</h1>
    </div>
    <div class="col-3">

        <h2 class="mt-3">{{project}}</h2>
    </div>
    {{/with}}
</div>
<hr style="color: red;" class="mt-5 mb-4">