<div class="card text-bg-dark">
    <div class="card-body">
        <div class="nav">
            <div class="col-6 py-1">
                {{#with subscribe}}
                <div>
                    <h2 style="color: white;">{{header}}</h2>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="text-end">
                    {{#each buttons}}
                    <button href={{link}} class="btn btn-primary me-2 mt-2">{{text}}</button>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</div>